<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Map Settings-->
  <appSettings>
    <add key="InitUsedMap" value="BingMap"/>
    <add key="BingMap" value="true"/>
    <add key="GooleMap" value="false"/>
    <add key="BaiduMap" value="flase"/>
    <add key="ArcGISServer" value="false"/>
    <add key="BingKey" value="BingKey=AnXiQ8qS9k_97RhHAVqpjUO4swlGbQmjSRn36M15fx6P4Iuihuh_vKvE35NJP3_B"/>
  </appSettings>
</configuration>