
@{
    ViewBag.Title = "Index";
}

<h2>介绍操作中使用的的命名空间和需要注意的事项，以及第三方组件</h2>

<div>
    @Html.ActionLink("Export Excel", "Export", "Office", new { }, new { @type = "button", @class = "btn btn-primary" })
    <br />
    <button type="button" class="btn btn-primary">Import Excel</button>
    <br />
    @Model
</div>
